/*  your css code here. If applicable */
.container{
	height:500px;
	background-color: #f5f5f5;
	padding:20px;
}

.child{
	background-color:white;
	border:1px solid black;
	padding:20px;
	margin:20px;
}

p{
	text-align:right;
	font-style:italic;
}
